<ion-view view-title="FAQs">
	<ion-content class="container-bg">
		<div class="list no-lines item-list" ng-repeat="item in content.faqs" ng-init="item.show = ($index == 0) ? true : false" ng-style="{'marginBottom': ($index == content.faqs.length - 1) ? '60px': 0}">
			<h2 class="hd-content" ng-click="showDiv($index)" ng-class="{'active': current_div == $index}">
				<span>{{item.title}}</span>
				<i class="icon {{(current_div == $index) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'}}"></i>
				<br class="clr" />
			</h2>
			<div class="bd-content" ng-bind-html="item.description" ng-show="current_div == $index"></div>
		</div>
	</ion-content>
</ion-view>
