<ion-view view-title="Acupressure">
	<ion-content class="container-bg">
		<ul class="list">
			<li class="item">
				<h2 style="text-align: center;">Features of Acupressure</h2>
			</li>
		</ul>

		<div class="card" ng-repeat="item in content.features" ng-init="item.show = ($index == 0) ? true : false">
			<div class="item item-divider" ng-click="item.show = !item.show">{{item.title}}</div>
			<div class="item item-text-wrap" ng-bind-html="item.description" ng-show="item.show"></div>
		</div>
	</ion-content>
</ion-view>
