<ion-view view-title="Acupressure">
	<ion-content class="container-bg">
		<ul class="list">
			<li class="item">
				<h2 style="text-align: center;">Instruments used in Reflexology</h2>
			</li>
		</ul>

		<div class="card" ng-repeat="item in content.instruments" ng-init="item.show = ($index == 0) ? true : false">
			<div class="item item-divider" ng-click="item.show = !item.show">{{item.title}}</div>
			<div class="item" ng-show="item.show">
				<p class="item-text-wrap" ng-bind-html="item.description"></p>
				<img style="border: 1px solid #ccc; border-radius: 4px; margin-top: 20px;" src="{{item.image}}" width="100%" />
			</div>
			
		</div>
	</ion-content>
</ion-view>
